<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        {{> analytics}}
        {{> css}}
        {{{block 'custom_css'}}}
    </head>
    <body>
        {{{body}}}
    </body>
</html>
