<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        {{> analytics}}
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <link rel="stylesheet" href="/styles/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand&display=swap" rel="stylesheet">
    </head>
    <body>
        {{{body}}}
        <div id="about">
            <p>About</p>
        </div>
    </body>
</html>
