<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        {{> analytics}}
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <link rel="stylesheet" href="/styles/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {{{body}}}
    </body>
</html>
