<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        {{> analytics}}
        <link rel="stylesheet" href="/styles/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand&display=swap" rel="stylesheet">
    </head>
    <body>
        {{{body}}}
        <div id="links">
            <a href="/about">About</a>
            <a href="/">Home</a>
            <a href="/add">Add</a>
        </div>
    </body>
    <script>
        // soft keyboard changes viewport dimensions. disable that.
        setTimeout(() => {
            document.querySelector('meta[name=viewport]').setAttribute('content', `height=${window.visualViewport.height}px, width=${window.visualViewport.width}px, initial-scale=1.0`);
        }, 300);
    </script>
</html>
