<div class="postcard" id="about">
    <p>A <a href="https://yanglang.now.sh">Yanglang Productions</a> project.</p>
    <p>This project is open source and available on <a href="https://github.com/guppy0130/pickup-eecs">Github</a> and <a href="https://gitlab.com/guppy0130/pickup-eecs">Gitlab</a>.</p>
</div>
