<div id="add-card" class="postcard">
    <form action="/add" method="post">
        <label for="msg">Line</label>
        <input name="msg" id="msg"><br>
        <label for="tags">Tags (comma separated)</label>
        <input name="tags" id="tags">
        <br>
        <input type="submit">
    </form>
</div>
