<div class="postcard">
    <div id="message">
        <p>{{message}}</p>
    </div>
    <div id="addr-block">
        <form id="email-form" action="/send" method="post">
            <label>Your email:</label>
            <input type="email" name="from" required>
            <label>Their email:</label>
            <input type="email" name="to" required>
            <div class="g-recaptcha" data-sitekey="6LfqbqsUAAAAAEOgkTA4pOKiYUQbYA6UFSbHMLl5"></div>
            <input value="{{number}}" name="number" style="visibility: hidden">
            <div id="send-btn">
                <input type="submit" value="SEND">
            </div>
        </form>
    </div>
</div>
