<div class="postcard">
    <div id="message">
        <p>{{message}}</p>
    </div>
    <div id="addr-block">
        <form id="email-form">
            <label>Your name:</label>
            <input>
            <label>Their name:</label>
            <input>
            <div id="send-btn">
                <input type="submit" value="Share">
            </div>
        </form>
    </div>
</div>
